<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>CS312 Mini Project 2</title>
    <link rel="stylesheet" href="styles/main.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
</head>
<body>
    <div id="titlebar">We Got The Jokes!!</div>
    <% if (!locals.joke) { %> 
    <div class="flexContainer">
        <form id="jokeform" action="/submit" method="POST">
            <div>
                <h1>Enter Your Name</h1>
            </div>
            <div>
                <input type="text" id="firstName" name="firstName" placeholder="First Name">
            </div>
            <div>
                <input type="text" id="lastName" name="lastName" placeholder="Last Name">
            </div>
            <div id="submitarea">
                <input type="submit" value="SUBMIT" class="button">
            </div>
        </form>
    </div>
    <% } else { %> 
    <div class="flexContainer">
        <div id="jokebox">
            <div><h1>TA DA!</h1></div>
            <% if (joke.setup) { %> 
            <div><h2> <%- joke.setup %> </h2></div>
            <div><h2> <%- joke.delivery %> </h2></div>
            <% } else { %>
            <div><h2> <%- joke.joke %> </h2></div>
            <% } %>
            <div id="returnarea">
                <div class="returnlink"></div>
                <div class="returnlink"><a href="/" class="button">RETURN</a></div>
                <div class="returnlink"></div>
            </div>
        </div>
    </div>
    <% } %>
</body>
</html>